body {
  background-color: #d3e0ea;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-color: #808080;
  border-width: 10px;
}

h1, h2, h3 {
  color: #1687a7;
}

img {
  width: 300px;
}
